<div class="container">
    <h1>Cocktails</h1>
    <% @cocktails.each do |cocktail| %>
        <h4><%= link_to cocktail.name, cocktail_path(cocktail) %></h4>
    <% end %>
    <%= link_to "Create a new cocktail", new_cocktail_path %>
</div>