<div class="container">
    <h4>Add a new ingredient and its dosage</h4>
    <%= simple_form_for [@cocktail, @dose] do |f| %>
        <%= f.input :description %>
        <%= f.association :ingredient %>
        <%= f.submit %>
    
    <% end %>
    
</div>