// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1582837611539-e3020079eab6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=694&q=80);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Playball', cursive;
    color: white;
    a {
      color: white;  
      &:hover{
          text-decoration: none;
          color: wheat;
      }
    }
}

.container {
    padding: 40px;
    h1, h2, h3, h4, h5, h6, p {
        font-family: 'Playball', cursive;
        color: white;
    }
}